.label, .hint, .timer {
  text-align: center;
}

/* When you change the --timer-diameter, change the "r" value in the circle HTML tag. It should be the --timer-diameter, minus the stroke-width, divided by 2. */

:root {
  --timer-diameter: 50px; /* Adjust this to change the timer radius*/
  --timer-font: 16px; /* Adjust this to change the size of timer number */
  --stroke-width: 6px;
  --stroke: calc((var(--timer-diameter) - var(--stroke-width)) * 3.141592654);
}

/* Animation for the shrinking timer */
@keyframes circletimer {
  100% {
    stroke-dashoffset: var(--stroke);
    stroke-dasharray: var(--stroke);
  }
}

.timer-container {
  text-align: center;
}

/* Holds the timer circle */
svg.timer-shell {
  background-color: transparent;
  height: var(--timer-diameter);
  transform: rotateZ(-90deg);
  width: var(--timer-diameter);
}

/* Timer circle */
svg.timer-shell .timer-circle {
  fill: transparent;
  stroke: #047cc2;
  stroke-dashoffset: 0;
  stroke-dasharray: var(--stroke);
  stroke-width: var(--stroke-width);
}

/* Timer number */
.timer {
  color: #000000;
  display: block;
  font-size: var(--timer-font);
  margin-top: calc(var(--timer-diameter) * -0.5 - var(--timer-font)/3*2 - 1px);
}


table.choice-table{
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1px;
  margin-top: calc(var(--timer-diameter) * 0.5 + 8px); /* This is so everything else is properly moved down below the timer */
  table-layout: fixed;
  width: 99%;
}

tr.main-row {
  border-style: hidden; /* Hide the outside border, so there are only separator lines */
}

td.main-cell {
  background-color: #e8e8e8; /* Makes background gray so can see selectable area */
  border: solid black 1px; /* Line(s) separating the columns */
  border-radius: 10px; /* Round the background coloring */
  padding: 5px 0 5px 0;
  text-align: center;
  vertical-align: top;
}

td.main-cell > table {
  width: 100%;
}

/* Style when a choice is selected, and there is no "correct" answer */
td.tapped {
  background-color: #CDE5F3;
}

/* Style when a choice is selected, and it is correct */
td.correct {
  background-color: #c1f7c1;
  color: #0d9c00;
}

/* Style when a choice is selected, and is is incorrect */
td.wrong {
  background-color: #f7c1c1;
  color: #9c0000;
}

/* Font size of the correct/incorrect symbol */
div.correct-symbol {
  font-size: 52px;
}